.preloader {
  display: flex;
  justify-content: center;
  position: fixed;
  top: 40%;
  left: 55%;
}

.rotate {
  animation: rotation 1s infinite linear;
}

.loader-hide {
  display: none;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(359deg);
  }
}
